body {
    margin: 0;
}

.left-pane {
    flex: 3;
    background-color: #e0e000;
    align-items: center;
    padding: 10px;
    margin: 10px
}

#canvas {
    max-width: 100%;
    max-height: 100%;
}

#canvas-container {
    max-width: 100%;
    max-height: 100%;
}

.right-pane {
    background-color: #00d0d0;
    padding: 10px;
    margin: 10px
}

.top-pane {}

.bottom-pane {
    background-color: #ff943e;
    padding: 10px;
    margin: 10px
}
