body {
    margin: 0;
    background-color: #3E66F0;
    font-family: "serif";
}

.left-pane {
    flex: 3;
    background-color: #0F40C5;
    align-items: center;
    color: #f3ffe8;
    /* padding: 10px; */
    margin: 8px
}

#canvas {
    max-width: 100%;
    max-height: 100%;
}

#canvas-container {
    max-width: 100%;
    max-height: 100%;
}

.right-pane {
    background-color: #0F40C5;
    color: #f3ffe8;
    /* padding: 10px; */
    margin: 8px
}

.top-pane {
    padding: 8px;
    color: #f3ffe8;
    /* margin: 10px */
}

.bottom-pane {
    background-color: #0F40C5;
    color: #f3ffe8;
    padding: 8px;
    margin: 4px
}
