body {
    margin: 0;
    background-color: #edf2f6;
    font-family: "serif";
    color: #2d2e2e;
}

.left-pane {
    flex: 3;
    background-color: #FFFFFF;
    align-items: center;
    margin: 8px
}

#canvas {
    max-width: 100%;
    max-height: 100%;
}

#canvas-container {
    max-width: 100%;
    max-height: 100%;
}

.right-pane {
    background-color: #FFFFFF;
    margin: 8px
}

.top-pane {
    padding: 8px;
}

.bottom-pane {
    background-color: #FFFFFF;
    padding: 8px;
    margin: 4px
}

#info {
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: #FFFF00;
}
